.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    align-items: center;

}

.content-container .contact-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100px;
    margin-bottom: 10px;
}

.content-container .contact-header .linkPic {
    height: 40px;
    width: auto;
}

.content-container .contact-header .contact-top {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin:0;
    padding:0;
}

.form-item {
    width: 75%;
    margin: 5px;
    padding: 7px;
    border-radius: 5px;
    border: 1px solid var(--dark-header-footer-background);
    background-color: var(--light-main-background-color);
}

.form .form-item:focus {
    box-shadow: inset 0 -1px 0 #ddd;
    border: 1px solid var(--dark-header-footer-background);
}

.err {
    color: var(--pop-of-color);
}

.mw-email {
    font-weight: 900;
}

.submit {
    width: fit-content;
    margin-bottom: 20px;
    padding: 7px;
    border-radius: 10px;
    border: 3px solid var(--dark-header-footer-background);
}