/* VARIABLES */
/* Color choices are based on the banner pic using app "Sip" */
:root {
    --dark-header-footer-background: #1a1c29;
    --light-main-background-color: #cab4a5;
    --pop-of-color: #741e27;
  }
  
  /* UNIVERSAL */
  *, body {
    background-color: var(--light-main-background-color);
  }


.content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    margin: 0px 40px;
}

.section-title {
    font-size: 24px;
    font-weight: 900;
}

.page-title {
    font-size: 30px;
    font-weight: 900;

}

.title-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 60px;
}

p {
    font-size: 18px;
}

