.container-fluid {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.card {
    width: 40%;
    margin: 20px 0px;
}

.card img {
    width: 100%;
    height: 250px;
    opacity: .6;
    object-fit: cover;
    object-position: top;
  }